###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
node_modules
yarn-error.log
# thoses are built with yarn build
/public/app/

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
